{% extends 'base.html' %}

{% load static %}

{% block contenido %}

<!-- Page Content -->
    <!-- Banner Starts Here -->
    <div class="heading-page header-text">
        <section class="page-heading">
          <div class="container">
            <div class="row">
              <div class="col-lg-12">
                <div class="text-content">
                  <h4>Lo Más Reciente</h4>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
      
      <!-- Banner Ends Here -->
  
      <section class="call-to-action">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="main-content">
                <div class="row">
                  <div class="col-lg-8">
                    <span>¡Noticia Importante</span>
                    <h4>¿Cómo hacer donas?</h4>
                  </div>
                  <div class="col-lg-4">
                    <div class="main-button">
                      <a href="https://es.wikihow.com/preparar-donas" target="_parent">Ver más</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
  
  
      <section class="blog-posts grid-system">
        <div class="container">
          <div class="row">
            <div class="col-lg-8">
              <div class="all-blog-posts">
                <div class="row">
                  <div class="col-lg-6">
                    <div class="blog-post">
                      <div class="blog-thumb">
                        <img src="assets\images\bentriesboca.jpg" alt="">
                      </div>
                      <div class="down-content">
                        <span>El Más Xeneise</span>
                        <!--BLOG ENTRIES NOTICIA-->
                        <a href="https://urgente24.com/golazo24/la-maxima-goleada-boca-river-5-0-un-superclasico-verano-n570589#:~:text=Boca%20gole%C3%B3%20a%20River%20en,la%20mayor%20goleada%20del%20profesionalismo.&text=El%2031%20de%20enero%20de,con%20un%20abrumador%205%2D0.">
                          <h4>Goleadas Boca vs River</h4></a>
                        <ul class="post-info">
                          <li><a href="#">krossts9</a></li>
                          <li><a href="#">May 31, 2024</a></li>
                          <li><a href="#">12 Comentarios</a></li>
                        </ul>
                        <p>Recordando la mayor goleada del Xeneise a River en 2015</p>
                        <div class="post-options">
                          <div class="row">
                            <div class="col-lg-12">
                              <ul class="post-tags">
                                <li><i class="fa fa-tags"></i></li>
                                <li><a href="#">Visita nuestra tienda online</a></li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="blog-post">
                      <div class="blog-thumb">
                        <img src="assets/images/blog-thumb-02.jpg" alt="">
                      </div>
                      <div class="down-content">
                        <span>Un Millo en Núñez</span>
                        <a href="https://www.espn.com.ar/futbol/argentina/nota/_/id/4948130/superclasicos-mas-recordados-river-boca-la-bombonera-historia#:~:text=El%202%20de%20marzo%20de,equipo%20hacia%20un%20nuevo%20t%C3%ADtulo.">
                        <h4>La mejores goleadas del Millonario en La Boca</h4></a>
                        <ul class="post-info">
                          <li><a href="#">Admin</a></li>
                          <li><a href="#">May 22, 2020</a></li>
                          <li><a href="#">26 Comments</a></li>
                        </ul>
                        <p>Nullam nibh mi, tincidunt sed sapien ut, rutrum hendrerit velit. Integer auctor a mauris sit amet eleifend.</p>
                        <div class="post-options">
                          <div class="row">
                            <div class="col-lg-12">
                              <ul class="post-tags">
                                <li><i class="fa fa-tags"></i></li>
                                <li><a href="#">Visita nuestra tienda online</a></li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="blog-post">
                      <div class="blog-thumb">
                        <img src="assets/images/blog-thumb-03.jpg" alt="">
                      </div>
                      <div class="down-content">
                        <span>Bayern Munich</span>
                        <a href="https://www.lanacion.com.ar/agencias/bayern-munich-y-bayer-leverkusen-se-reparten-los-honores-en-empate-1-1-en-la-bundesliga-nid28092024/">
                          <h4>Partidazo entre el Bayern y el Leverkusen</h4></a>
                        <ul class="post-info">
                          <li><a href="#">Kikinahal988</a></li>
                          <li><a href="#">May 18, 2024</a></li>
                          <li><a href="#">42 Comments</a></li>
                        </ul>
                        <p>Nullam nibh mi, tincidunt sed sapien ut, rutrum hendrerit velit. Integer auctor a mauris sit amet eleifend.</p>
                        <div class="post-options">
                          <div class="row">
                            <div class="col-lg-12">
                              <ul class="post-tags">
                                <li><i class="fa fa-tags"></i></li>
                                <li><a href="#">Visita nuestra tienda online</a>,</li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="blog-post">
                      <div class="blog-thumb">
                        <img src="assets/images/blog-thumb-04.jpg" alt="">
                      </div>
                      <div class="down-content">
                        <span>Europa y América</span>
                        <a href="post-details.html"><h4>¿Acuerdos entre el PSG y River?</h4></a>
                        <ul class="post-info">
                          <li><a href="#">ElMilloPapáa12</a></li>
                          <li><a href="#">29 de Septiembre, 2024</a></li>
                          <li><a href="#">900 Comentarios</a></li>
                        </ul>
                        <p>Nullam nibh mi, tincidunt sed sapien ut, rutrum hendrerit velit. Integer auctor a mauris sit amet eleifend.</p>
                        <div class="post-options">
                          <div class="row">
                            <div class="col-lg-12">
                              <ul class="post-tags">
                                <li><i class="fa fa-tags"></i></li>
                                <li><a href="#">Mercado de Pases</a>,</li>
                                <li><a href="#">River</a></li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="blog-post">
                      <div class="blog-thumb">
                        <img src="assets/images/blog-thumb-05.jpg" alt="">
                      </div>
                      <div class="down-content">
                        <span>Internas</span>
                        <a href="https://www.ole.com.ar/boca-juniors/romero-pelea-hinchas-boca-river-derrota_0_V1ut6LTKLY.html">
                          <h4>Romero suspendido</h4></a>
                        <ul class="post-info">
                          <li><a href="#">Lecstar122</a></li>
                          <li><a href="#">Agosto 31, 2024</a></li>
                          <li><a href="#">737 Comentarios</a></li>
                        </ul>
                        <p>Nullam nibh mi, tincidunt sed sapien ut, rutrum hendrerit velit. Integer auctor a mauris sit amet eleifend.</p>
                        <div class="post-options">
                          <div class="row">
                            <div class="col-lg-12">
                              <ul class="post-tags">
                                <li><i class="fa fa-tags"></i></li>
                                <li><a href="#">Boca Juniors</a>,</li>
                                <li><a href="#">Fútbol</a></li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="blog-post">
                      <div class="blog-thumb">
                        <img src="assets/images/blog-thumb-06.jpg" alt="">
                      </div>
                      <div class="down-content">
                        <span>FC Barcelona</span>
                        <a href="https://www.sport.es/es/noticias/barca/verdadero-salario-frenkie-jong-108706935">
                          <h4>Datazo de Jong</h4></a>
                        <ul class="post-info">
                          <li><a href="#">Hedyren45</a></li>
                          <li><a href="#">5 de Septiembre, 2024</a>
                          </li>
                          <li><a href="#">17 Comentarios</a></li>
                        </ul>
                        <p>Nullam nibh mi, tincidunt sed sapien ut, rutrum hendrerit velit. Integer auctor a mauris sit amet eleifend.</p>
                        <div class="post-options">
                          <div class="row">
                            <div class="col-lg-12">
                              <ul class="post-tags">
                                <li><i class="fa fa-tags"></i></li>
                                <li><a href="#">Barça</a>,</li>
                                <li><a href="#">España</a>,</li>
                                <li><a href="#">Frankie Jong</a></li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-12">
                    <ul class="page-numbers">
                      <li><a href="#">1</a></li>
                      <li class="active"><a href="#">2</a></li>
                      <li><a href="#">3</a></li>
                      <li><a href="#"><i class="fa fa-angle-double-right"></i></a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="sidebar">
                <div class="row">
                  <div class="col-lg-12">
                    <div class="sidebar-item search">
                      <form id="search_form" name="gs" method="GET" action="#">
                        <input type="text" name="q" class="searchText" placeholder="Buscar..." autocomplete="on">
                      </form>
                    </div>
                  </div>
                  <div class="col-lg-12">
                    <div class="sidebar-item recent-posts">
                      <div class="sidebar-heading">
                        <h2>Posts Recientes</h2>
                      </div>
                      <div class="content">
                        <ul>
                          <li><a href="https://tntsports.com.ar/ligaprofesional/en-vivo-river-vs-talleres-minuto-a-minuto-tnt-sports-20240929-0019.html">
                            <h5>RIVER Vestibulum id turpis porttitor sapien facilisis scelerisque</h5>
                            <span>19 de Septiembre, 2024</span>
                          </a></li>
                          <li><a href="https://www.infobae.com/peru/deportes/2024/09/28/donde-ver-boca-juniors-vs-belgrano-canal-tv-online-del-partido-por-la-liga-argentina-2024/">
                            <h5>BOCA Suspendisse et metus nec libero ultrices varius eget in risus</h5>
                            <span>28 de Septiembre, 2024</span>
                          </a></li>
                          <li><a href="https://www.racingdealma.com.ar/el-tremendo-problema-para-racing-con-platense/">
                            <h5>RACING Swag hella echo park leggings, shaman cornhole ethical coloring</h5>
                            <span>24 de Septiembre, 2024</span>
                          </a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-12">
                    <div class="sidebar-item categories">
                      <div class="sidebar-heading">
                        <h2>Categorías</h2>
                      </div>
                      <div class="content">
                        <ul>
                          <li><a href="#">- Vida Natural</a></li>
                          <li><a href="#">- Cosas Increíbles</a></li>
                          <li><a href="#">- Ideas Creativas</a></li>
                          <li><a href="#">- Fútbol Mundial</a></li>
                          <li><a href="#">- Internas en Clubs</a></li>
                          <li><a href="#">- Todo de Europa</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-12">
                    <div class="sidebar-item tags">
                      <div class="sidebar-heading">
                        <h2>Etiquetas</h2>
                      </div>
                      <div class="content">
                        <ul>
                          <li><a href="#">Estilo de Vida</a></li>
                          <li><a href="#">Creativo</a></li>
                          <li><a href="#">Ideas</a></li>
                          <li><a href="#">Inspiración</a></li>
                          <li><a href="#">Motivación</a></li>
                          <li><a href="#">Internas</a></li>
                          <li><a href="#">Resúmenes</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>


    {% for i in posts %}
        <br>
        <h1>{{ i.titulo }}</h1>
        {% if posts.subtitulo != None %}
            <h2>{{ posts.subtitulo }}</h2>
        {% endif %}
        <h3>{{ i.categoria }}</h3>

        <a id="boton_post" href="{% url 'apps.posts:post_individual' i.id %}">
            Ingresá a este Post
        </a>
        <br>
        
        {% empty %}
        <h1>No hay posts para mostrar</h1>

    {% endfor %}

{% endblock %}