{% load static %}

<!doctype html>
<html lang="es-ar">
    <head>
        <title>{% block title %} InfoBlogs {% endblock title %}</title>
        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />

        <!-- Bootstrap CSS v5.2.1 -->
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
            crossorigin="anonymous"
        />
    </head>

    <body>
        <header>
            <a class="flex-sm-fill text-sm-center nav-link active" href="#">
                <img src="{% static 'assets/img/infoblogs-logo.jpg' %}" style="max-width: 300px; margin: 30px;">
            </a>

            <nav class="nav nav-pills flex-column flex-sm-row">
                <ul class="nav-links">
                    <li><a href="{% url 'index' %}">Inicio</a></li>
                    <li><a href="#">Acerca de Nosotros</a></li>
                    <li><a href="{% url 'apps.posts:posts' %}">Posts</a></li>
                    <li><a href="{% url 'apps.contacto:contacto' %}">Contactanos</a></li>
                    {% if user.is_athenticated %}
                        <li><a href="{% url 'apps.usuario:logout' %}">Logout</a></li>
                    {% else %}
                        <li><a href="{% url 'apps.usuario:login' %}">Login</a></li>
                    {% endif %}
                </ul>
            </nav>
        </header>

        {% block contenido %}

        {% endblock %}
        
        <main></main>
        <footer id="sticky-footer" class="flex-shrink-0 py-4 bg-dark text-white-50">
            <div class="container text-center">
                <small>Copyright &copy; Your Website</small>
            </div>
        </footer>
        <!-- Bootstrap JavaScript Libraries -->
        <script
            src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
            integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
            crossorigin="anonymous"
        ></script>

        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
            integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
            crossorigin="anonymous"
        ></script>
    </body>
</html>