{% extends 'base.html' %}

{% load static %}

{% block title %} Inicio {%endblock title%} 

{% block contenido %}
            <!-- Page Content -->
    <!-- Banner Starts Here -->
    <div class="main-banner header-text"></div>
      <div class="container-fluid">
        <div class="owl-banner owl-carousel">
          <div class="item">
            <img src="{% static 'assets\img\ejRiver22.png' %}" alt="">
            <div class="item-content">
              <div class="main-content">
                <div class="meta-category">
                  <!---ACÁ ESTÁ LO QUE SERÍA DEL INICIO LAS NOTICIAS DEL CARRUSEL-->
                  <span>River Plate</span>
                </div>
                <a href="https://www.ole.com.ar/futbol-primera/river-plate-vs-talleres-cordoba-partido-liga-profesional-ver-horario-juegan_0_Hd0uyVavsq.html">
                  <h4>Lo más reciente</h4></a>
                <ul class="post-info">
                  <li><a href="#">cSeethill333</a></li>
                  <li><a href="#">19 de Marzo, 2024</a></li>
                  <li><a href="#">90 Comentarios</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="item">
          <img src="{% static 'assets\img\ejemplo 2 boca.jpg' %}" alt="">
            <div class="item-content">
              <div class="main-content">
                <div class="meta-category">
                  <span>Boca Juniors</span>
                </div>
                <a href="https://www.lanacion.com.ar/deportes/futbol/belgrano-vs-boca-juniors-por-la-liga-profesional-2024-dia-horario-tv-y-como-ver-online-nid26092024/">
                  <h4>todo de los próximos Partidos</h4></a>
                <ul class="post-info">
                  <li><a href="#">Lecstar122</a></li>
                  <li><a href="#">24 julio, 2024</a></li>
                  <li><a href="#">87 Comentarios</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="item">
            <img src="{% static 'assets\images\el reallllma4.png' %}" alt="">
            <div class="item-content">
              <div class="main-content">
                <div class="meta-category">
                  <span>europa</span>
                </div>
                <a href="post-details.html"><h4>Lo último en europa</h4></a>
                <ul class="post-info">
                  <li><a href="#">tHeOnlyy1</a></li>
                  <li><a href="#">28 de Septiembre, 2024</a></li>
                  <li><a href="#">102 Comentarios</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="item">
            <img src="assets\images\goleadas.png" alt="">
            <div class="item-content">
              <div class="main-content">
                <div class="meta-category">
                  <span>lo mejor de la temporada</span>
                </div>
                <a href="https://www.elgrafico.com.ar/articulo/la-jornada-esta-aqui/73647/como-esta-la-tabla-de-goleadores-del-anio-2024">
                  <h4>Más Goleadas</h4></a>
                <ul class="post-info">
                  <li><a href="#">kapex354</a></li>
                  <li><a href="#">May 18, 2024</a></li>
                  <li><a href="#">48 Comentarios</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="item">
            <img src="assets\images\dts.png" alt="">
            <div class="item-content">
              <div class="main-content">
                <div class="meta-category">
                  <span>lo mejor de la temporada</span>
                </div>
                <a href="https://www.marca.com/futbol/futbol-internacional/2024/05/13/66420b4aca4741f6548b45b2.html"><h4>Los Mejores DT del Mundo</h4></a>
                <ul class="post-info">
                  <li><a href="#">JaciMisa149</a></li>
                  <li><a href="#">15 de abril, 2024</a></li>
                  <li><a href="#">98 Comments</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="item">
            <img src="assets\images\meessi.jpg" alt="">
            <div class="item-content">
              <div class="main-content">
                <div class="meta-category">
                  <span>América</span>
                </div>
                <a href="https://www.ambito.com/deportes/lionel-messi-rescato-inter-miami-que-se-sostiene-lo-mas-alto-la-mls-n6064978"><h4>Messi en el Inter Miami</h4></a>
                <ul class="post-info">
                  <li><a href="#">Kiarka878</a></li>
                  <li><a href="#">26 Mayo , 2024</a></li>
                  <li><a href="#">72 Comentarios</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Banner Ends Here -->
 
    <section class="call-to-action">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="main-content">
              <div class="row">
                <div class="col-lg-8">
                  <span>Información Importante</span>
                  <h4>¿Cómo tomar agua?</h4>
                </div>
                <div class="col-lg-4">
                  <div class="main-button">
                    <a rel="nofollow" href="https://es.wikihow.com/tragar-agua-r%C3%A1pidamente" target="_parent">Ver Más!</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="blog-posts">
      <div class="container">
        <div class="row">
          <div class="col-lg-8">
            <div class="all-blog-posts">
              <div class="row">
                <div class="col-lg-12">
                  <div class="blog-post">
                    <div class="blog-thumb">
                        <img src="assets/img/blog-post-01.jpg" alt="">
                    </div>
                    <div class="down-content">
                      <span>Reciente</span>
                      <a href="https://www.ole.com.ar/usa/futbol-internacional/premier-league/manchester-united-tottenham-como-ver-hoy-en-vivo-directo-streaming-premier-league-hora-alineaciones-tv_0_530IPmRjNY.html"><h4>Tottenham hoy</h4></a>
                      <ul class="post-info">
                        <li><a href="#">Twizca0807</a></li>
                        <li><a href="#">29 Septiembre, 2024/a></li>
                        <li><a href="#">12 Comentarios</a></li>
                      </ul>
                      <p>Stand Blog is a free HTML CSS template for your CMS theme. You can easily adapt or customize it for any kind of CMS or website builder. You are allowed to use it for your business. You are NOT allowed to re-distribute the template ZIP file on any template collection site for the download purpose. <a rel="nofollow" href="https://templatemo.com/contact" target="_parent">Contact TemplateMo</a> for more info. Thank you.</p>
                      <div class="post-options">
                        <div class="row">
                          <div class="col-6">
                            <ul class="post-tags">
                              <li><i class="fa fa-tags"></i></li>
                              <li><a href="#">Fútbol</a>,</li>
                              <li><a href="#">Inglaterra</a></li>
                            </ul>
                          </div>
                          <div class="col-6">
                            <ul class="post-share">
                              <li><i class="fa fa-share-alt"></i></li>
                              <li><a href="#">Facebook</a>,</li>
                              <li><a href="#"> Twitter</a></li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="blog-post">
                    <div class="blog-thumb">
                      <img src="assets/images/blog-post-02.jpg" alt="">
                    </div>
                    <div class="down-content">
                      <span>Chelsea Hoy</span>
                      <a href="https://tntsports.com.ar/internacional/frase-dt-chelsea-preocupo-enzo-fernandez-20240928-0018.html"><h4>Frase de Guardiola que preocupa a Enzo Fernández</h4></a>
                      <ul class="post-info">
                        <li><a href="#">CucaMaruca666</a></li>
                        <li><a href="#">May 24, 2024</a></li>
                        <li><a href="#">36 Comentarios</a></li>
                      </ul>
                      <p>You can support us by contributing a little via PayPal. Please contact <a rel="nofollow" href="https://templatemo.com/contact" target="_parent">TemplateMo</a> via Live Chat or Email. If you have any question or feedback about this template, feel free to talk to us. Also, you may check other CSS templates such as <a rel="nofollow" href="https://templatemo.com/tag/multi-page" target="_parent">multi-page</a>, <a rel="nofollow" href="https://templatemo.com/tag/resume" target="_parent">resume</a>, <a rel="nofollow" href="https://templatemo.com/tag/video" target="_parent">video</a>, etc.</p>
                      <div class="post-options">
                        <div class="row">
                          <div class="col-6">
                            <ul class="post-tags">
                              <li><i class="fa fa-tags"></i></li>
                              <li><a href="#">Internas</a>,</li>
                              <li><a href="#">Enzo Fernández</a></li>
                            </ul>
                          </div>
                          <div class="col-6">
                            <ul class="post-share">
                              <li><i class="fa fa-share-alt"></i></li>
                              <li><a href="#">Facebook</a>,</li>
                              <li><a href="#">Twitter</a></li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="blog-post">
                    <div class="blog-thumb">
                      <img src="assets/images/blog-post-03.jpg" alt="">
                    </div>
                    <div class="down-content">
                      <span>lo mejor de la temporada</span>
                      <a href="https://www.marca.com/futbol/futbol-internacional/2024/05/13/66420b4aca4741f6548b45b2.html"><h4>Mejores Directores Técnicos</h4></a>
                      <ul class="post-info">
                        <li><a href="#">Lecstar122</a></li>
                        <li><a href="#">30 Agosto, 2024</a></li>
                        <li><a href="#">48 Comments</a></li>
                      </ul>
                      <p>Nullam at quam ut lacus aliquam tempor vel sed ipsum. Donec pellentesque tincidunt imperdiet. Mauris sit amet justo vulputate, cursus massa congue, vestibulum odio. Aenean elit nunc, gravida in erat sit amet, feugiat viverra leo. Phasellus interdum, diam commodo egestas rhoncus, turpis nisi consectetur nibh, in vehicula eros orci vel neque.</p>
                      <div class="post-options">
                        <div class="row">
                          <div class="col-6">
                            <ul class="post-tags">
                              <li><i class="fa fa-tags"></i></li>
                              <li><a href="#">Fútbol</a>,</li>
                              <li><a href="#">Balón de Oro</a></li>
                            </ul>
                          </div>
                          <div class="col-6">
                            <ul class="post-share">
                              <li><i class="fa fa-share-alt"></i></li>
                              <li><a href="#">Facebook</a>,</li>
                              <li><a href="#">Twitter</a></li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="main-button">
                    <a href="blog.html">Ver Todos los Posts</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="sidebar">
              <div class="row">
                <div class="col-lg-12">
                  <div class="sidebar-item search">
                    <form id="search_form" name="gs" method="GET" action="#">
                      <input type="text" name="q" class="searchText" placeholder=" Buscar..." autocomplete="on">
                    </form>
                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="sidebar-item recent-posts">
                    <div class="sidebar-heading">
                      <h2>Posts Recientes </h2>
                    </div>
                    <div class="content">
                      <ul>
                        <li><a href="https://www.ole.com.ar/boca-juniors/inglaterra-aseguran-manchester-united-liverpool-pelean-kevin-zenon-boca_0_TmexrZiqbz.html">
                          <h5>Manchester United</h5>
                          <span>May 31, 2020</span>
                        </a></li>
                        <li><a href="https://www.ole.com.ar/futbol-internacional/inglaterra/garnacho-lisandro-martinez-manchester-united-tottenham-cuti-romero-premier-league_0_opoJqxy9Wo.html">
                          <h5>Tottenham</h5>
                          <span>May 28, 2020</span>
                        </a></li>
                        <li><a href="https://www.rosario3.com/deportes/Con-Mac-Allister-desde-el-arranque-el-Liverpool-le-gano-al-Wolverhampton-y-es-lider-de-la-Premier-League-20240928-0036.html">
                          <h5>Liverpool</h5>
                          <span>May 14, 2020</span>
                        </a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="sidebar-item categories">
                    <div class="sidebar-heading">
                      <h2>Categorías</h2>
                    </div>
                    <div class="content">
                      <ul>
                        <li><a href="#">- Vida Natural</a></li>
                        <li><a href="#">- Cosas Increíbles</a></li>
                        <li><a href="#">- Ideas Creativas</a></li>
                        <li><a href="#">- Fútbol Mundial</a></li>
                        <li><a href="#">- Internas en Clubs</a></li>
                        <li><a href="#">- Todo de Europa</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="sidebar-item tags">
                    <div class="sidebar-heading">
                      <h2>Etiquetas</h2>
                    </div>
                    <div class="content">
                      <ul>
                        <li><a href="#">Estilo de Vida</a></li>
                        <li><a href="#">Creativo</a></li>
                        <li><a href="#">Ideas</a></li>
                        <li><a href="#">Inspiración</a></li>
                        <li><a href="#">Motivación</a></li>
                        <li><a href="#">Internas</a></li>
                        <li><a href="#">Resúmenes</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

{% endblock %}